body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    color:#FFF;
}

/* this is headersection style */



.headerdiv{
    background-image: url('../resources/Banner\ Image.png');
width: 1320px;
height: 600px;
margin:15px 5px 0 150px;
border-radius: 16px;




}


.header3{
color: #FFF;
font-size: 32px;
font-weight: 400;
text-align: center;

}
.header1{
color: #FFF;
text-align:center;
font-size: 72px;
font-weight: 900;
}
.header-content{
    padding:120px 344px 400px 344px;
    align-items: center;
   
}
.gredien{

background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    
}
/* this is mainsection style */
.all-section{
 width: 1600px;
height: 7335px;
background: #FFF;
padding: 100px auto ;

}
.image{
    background-image:url('../New\ Year\ Photo.png');
    width: 802.9px;
height: 500px;
margin: auto;
}
.mcontent{
    font-family: Inter;
  
    text-align: center;
    

}
.mhead{
color: #F00;
font-size: 88px;
font-weight: 700;

}
.pclass{
color: #F00;
font-size: 24px;
font-weight: 500;

}
.nhead{
color: #070211;
font-family: Inter;
font-size: 48px;
font-weight: 700;

}